*{
	box-sizing: border-box;
}
%link{
	background: none;
	border: 0;
	color: $color-link;
	font-size: 1em;
	padding: 0;
	text-decoration: underline;
	&:focus, &:hover{
		background: none; //-# undo button style
		color: $color-focusedLink;
	}
}
a{
	@extend %link;
}
b, i{
	font-weight: normal;
	font-style: normal;
}
body, html{
	margin: 0;
	padding: 0;
}
button{
	&[disabled][disabled]{
		color: $color-disabled;
		opacity: 0.8;
	}
}
h1, h2{
	color: $color-heading;
	font-family: $font-heading;
	&:first-child{
		margin-top: 0;
	}
}
html{
	background: $color-gameBG;
	color: $color-gameFG;
	font-family: $font-base;
	line-height: 1.5;
}
ul{
	margin-left: 0;
	padding-left: 1.2em;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}

/*=====
==basic modules
=====*/
%icon{
	content: '';
	display: inline-block;
	font-weight: bold;
	line-height: 1;
	margin: 0 0.4em 0 0;
	position: relative;
	top: -0.1em;
	vertical-align: middle;
}
%navList{
	font-size: 0.875em;
	margin: 0;
	padding: 0;
	list-style: none;
	>li{
		display: inline-block; *display: inline;
		margin: 0 0.7em;
	}
	@include mq('nvp'){
		font-size: 1em;
		>li{
			margin: 0 0.5em;
		}
	}
}
%spinMove{
	display: inline-block;
	transform: rotate(0);
	transition: transform 0.5s ease;
}
%spinMoveAction{
	transform: rotate(-720deg);
}
@mixin sro(
	$border: 0
	,$clip: rect(0 0 0 0)
	,$height: 1px
	,$margin: -1px
	,$overflow: hidden
	,$padding: 0
	,$position: absolute
	,$width: 1px
){
	border: $border;
	clip: $clip;
	height: $height;
	margin: $margin;
	overflow: $overflow;
	padding: $padding;
	position: $position;
	width: $width;
}
%sro{
	@include sro();
}
@mixin sroOff(
	$border: initial
	,$clip: auto
	,$height: auto
	,$margin: initial
	,$overflow: visible
	,$padding: initial
	,$position: static
	,$width: auto
){
	border: $border;
	clip: $clip;
	height: $height;
	margin: $margin;
	overflow: $overflow;
	padding: $padding;
	position: $position;
	width: $width;
}
%sroOff{
	@include sroOff();
}
