.blocker{
	display: none;
	height: 100%;
	left: 0;
	padding: 1em;
	position: absolute; position: fixed;
	top: 0;
	transition: opacity 0.2s ease;
	width: 100%;
	z-index: $z-behindFront;
	:target ~ &{
		background: $color-gameBG;
		display: block;
		opacity: 0.3;
	}
	b{
		@extend %sro;
	}
	&:hover{
		opacity: 0.1;
	}
	&:focus{
		opacity: 0.9;
		z-index: $z-forceFront;
		b{
			@extend %sroOff;
		}
	}
}
