@import './grid';

.game{
	display: flex;
	align-items: stretch;
	flex-basis: 100%;
	flex-direction: column;
	flex-grow: 1;
}
.gameHeader{
	flex-grow: 0;
	padding: 0.5em 0.5em 0.25em;
	text-align: center;
	@include mq('nvp'){
		padding: 0.5em 1em;
	}
}
.tickCount{
	display: inline-block;
	font-size: 0.875em;
	margin: 0 0.4em;
	@include mq('nvp'){
		font-size: 1em;
	}
}

//==controls
.gameControls{
	@extend %navList;
	display: inline;
}
%tickActionIcon{
	@extend %icon;
	font-size: 1.1em;
	top: 0;
	transform: scaleY(1.6);
}
.playA{
	@extend %link;
	&:before{
		@extend %icon;
		border-bottom: 0.5em dashed transparent;
		border-left: 0.8em solid;
		border-top: 0.5em dashed transparent;
		height: 0;
		margin: 0 0.3em 0 0;
		width: 0;
	}
	.game[data-playing='playing'] &{
		&:before{
			border: 0;
			border-left: 0.3em solid;
			border-right: 0.3em solid;
			height: 1em;
			margin-right: 0.4em;
			width: 0.2em;
		}
	}
}
.resetA{
	@extend %link;
	>i{
		&:after{
			@extend %icon;
			border-bottom: 0.5em dashed transparent;
			border-right: 0.5em solid;
			border-top: 0.5em dashed transparent;
			height: 0;
			margin: 0 0.3em 0 0.1em;
			width: 0;
		}
		&:before{
			@extend %icon;
			border-left: 0.25em solid;
			height: 0.875em;
			margin-right: 0.1em;
		}
	}
}
%tickAction{
	@extend %link;
	>i{
		@extend %sro;
		@include mq('nvp'){
			@include sroOff();
		}
	}
}
.nextTick{
	@extend %tickAction;
	&:after{
		@extend %tickActionIcon;
		content: '>';
		margin: 0 0 0 0.4em;
	}
}
.previousTick{
	@extend %tickAction;
	&:before{
		@extend %tickActionIcon;
		content: '<';
	}
}
