.pane{
	margin: 0 auto;
	max-width: 32em;
	padding: 1em;
	&:not(:target), &:target{ //--block from old browsers
		background: $color-gameBG; background: rgba($color-gameBG, 0.8);
		height: 100%;
		margin: 0;
		max-width: 90%;
		overflow: auto;
		position: absolute; position: fixed;
		right: 0;
		top: 0;
		transform: translateX(100%);
		transition: transform 0.2s ease, visibility 0.2s, z-index 0.2s ease;
		visibility: hidden;
		width: 32em;
		z-index: $z-back;
	}
	//-!! for js opening
	// &[data-opened]{ //--js
	// 	display: block;
	// 	opacity: 0;
	// 	transform: translateX(100%);
	// 	transition: opacity 0.2s ease, transform 0.2s ease;
	// }
	&:target, &[data-opened='opened']{
		opacity: 1;
		transform: translateX(0);
		visibility: inherit;
		z-index: $z-front;
	}

}
