body{
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	height: 100vh;
}
.footer{
	border-top: 1px solid $color-border;
	flex-grow: 0;
	flex-shrink: 0;
	font-size: 0.875em;
	overflow: hidden; //-# prevent '<toby>' animation from causing scroll bars and thus significant reflow in FF
	padding: 0.8em;
	text-align: center;
	@include mq('nvp'){
		font-size: 1em;
	}
	@include mq('nnvp'){
		padding: 0.5em;
	}
}
.footerA{
	>i{
		@extend %spinMove;
		color: $color-toby;
		text-decoration: underline; //-# loses underline from `display:block`
	}
	&:focus, &:hover{
		>i{
			@extend %spinMoveAction;
			color: $color-focusedLink;
		}
	}
}
main{
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
	overflow: auto;
	.page-game &{
		align-items: stretch;
	}
}
.main-text{
	margin: 0 auto;
	max-width: 32em;
	padding: 0.8em;
}
